#
# Candybean is a next generation automation and testing framework suite.
# It is a collection of components that foster test automation, execution
# configuration, data abstraction, results illustration, tag-based execution,
# top-down and bottom-up batches, mobile variants, test translation across
# languages, plain-language testing, and web service testing.
# Copyright (C) 2013 SugarCRM, Inc. <candybean@sugarcrm.com>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

#automation.framework = webdriver
automation.interface = chrome

browser.firefox.binary = {\
	"linux": "/usr/bin/firefox", \
	"mac": "/Applications/Firefox.app/Contents/MacOS/firefox", \
	"windows": "C:/Program Files (x86)/Mozilla Firefox/firefox.exe"}
browser.firefox.profile = default

browser.chrome.driver.path = {\
	"linux": "./lib/chromedriver-linux64", \
	"mac": "./lib/chromedriver-mac", \
	"windows": "./lib/chromedriver-win32.exe"}
browser.chrome.driver.log.path = ./log/chromedriver.log

browser.ie.driver.path = ./lib/IEDriverServer-64.exe

# Wait and Timeout
perf.page.load.timeout = 2
perf.implicit.wait.seconds = 20
perf.explicit.wait.timeout.mseconds = 15000
perf.explicit.wait.polling.seconds = 5

# Logging
handlers = java.util.logging.FileHandler, java.util.logging.ConsoleHandler

# File logging
java.util.logging.FileHandler.pattern = ./log/candybean.%g.log
java.util.logging.FileHandler.limit = 50000
java.util.logging.FileHandler.count = 1
java.util.logging.FileHandler.formatter = java.util.logging.SimpleFormatter
java.util.logging.FileHandler.level = INFO

# Console logging
java.util.logging.ConsoleHandler.level = ALL
java.util.logging.ConsoleHandler.formatter = java.util.logging.SimpleFormatter

# Logging format
java.util.logging.SimpleFormatter.format = [%1$tH:%1$tM:%1$tS:%1$tL] %4$s: %2$s %5$s%6$s%n

# Runner settings

runner.retryCount = 1
runner.timeout = 1500
runner.cleanupTimeout = 1500
runner.rerunIfTimedOut= false
runner.runBeforeIfTimedOut = true
runner.runAfterIfTimedOut = true

# Monte Media Library Recorder Settings
video.format=video/quicktime
video.format.frameRate=15
video.directory=./target/candybean-reports/recordings
video.encoding=png 
video.compression=PNG
maxFileSize=512000
maxRecordingTime=120000
testResultsXMLPath=./target/candybean-reports/results/failedTestResults.xml

# Candybean Test Results Report Settings
testResultsReportPath=./target/candybean-reports/reports/CandybeanTestResults.html
testResultsReport.title=Candybean Test Results Report
testResultsReport.testsPerPage=8
surefireResultsDirectory=./target/surefire-reports

# Candybean appium automated startup settings
appium.automate=true
appium.path=/usr/local/bin/appium
android.home=/usr/local/adt/sdk
android.platform.tools=/usr/local/adt/sdk/platform-tools
android.tools=/usr/local/adt/sdk/tools
android.build.tools=/usr/local/adt/sdk/build-tools
appium.ip=127.0.0.1
appium.port=4723
avd.emulator.name=fnlfnl
avd.emulator.path=/usr/local/adt/sdk/emulator
avd.device.timeout=240000

# Parallelization settings
parallel.enabled=false
parallel.threadNamePattern=candybean-thread
parallel.threads=8

# Grid settings
grid.enabled=false
grid.ip=127.0.0.1
grid.port=4444
grid.platform=LINUX
grid.browser=chrome

# Saucelabs settings
saucelabs.enabled=false
saucelabs.username=qasuga
saucelabs.accessKey=319c6a5b-8d14-41a0-858f-d84c7b549d5b
saucelabs.platform=Linux
saucelabs.version=34
saucelabs.browser=chrome

#Desired capabilities for GeneralizedAndroidTest
GeneralizedAndroidTest.app=lib/TestApp.apk
GeneralizedAndroidTest.app-package=com.example.TestApp
GeneralizedAndroidTest.app-activity=MyActivity

#Desired capabilities for EvernoteAndroidTest
EvernoteAndroidTest.app=lib/evernote.apk
EvernoteAndroidTest.app-package=com.evernote
EvernoteAndroidTest.app-activity=.ui.HomeActivity

#Desired capabilities for SugarIosTest
SugarIosTest.app=https://s3.amazonaws.com/voodoo2/sugarcrm.app.zip
