#Desired capabilities for GeneralizedAndroidTest
GeneralizedAndroidTest.app=lib/TestApp.apk
GeneralizedAndroidTest.app-package=com.example.TestApp
GeneralizedAndroidTest.app-activity=MyActivity
#Desired capabilities for EvernoteAndroidTest
EvernoteAndroidTest.app=lib/evernote.apk
EvernoteAndroidTest.app-package=com.evernote
EvernoteAndroidTest.app-activity=.ui.HomeActivity