<settings>
    <profiles>
        <profile>
            <id>sonar</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <sonar.host.url>http://10.8.31.94:9000</sonar.host.url>
        		<sonar.jdbc.password>sonar</sonar.jdbc.password>
        		<sonar.jdbc.url>jdbc:mysql://10.8.31.94:3306/sonar?useUnicode=true&amp;characterEncoding=utf8</sonar.jdbc.url>
        		<sonar.jdbc.username>sonar</sonar.jdbc.username>
            </properties>
        </profile>
    </profiles>
    <pluginGroups>
    	<pluginGroup>org.apache.maven.plugins</pluginGroup>
    	<pluginGroup>org.codehaus.mojo</pluginGroup>
  	</pluginGroups>  
    <mirrors>
        <mirror>
            <id>Sugar</id>
            <name>Sugar Internal</name>
            <url>http://10.8.31.94:8080/archiva/repository/internal/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
</settings>
